/*  Coding By MAϟUMㅤKHAN | YourArfat.net */
:root{
  --bg-clr: #323338;
  --input-bg-clr: #1E1F23;
  --btn-clr: #5865F2;
  --text-clr: #fff;
  --link-clr: #00A7FF;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
body{
  background: #5865F2;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.mainBox{
  position: relative;
  width: 800px;
  height: auto;
  border-radius: 2px;
  background: var(--bg-clr);
  display: flex;
  flex-direction: row;
}


/* Left Side */
.mainBox .leftSide,
.mainBox .rightSide{
  padding: 40px;
}
.mainBox .heading{
  text-align: center;
  margin-bottom: 20px;
}
.mainBox .mobile_heading{
  display: none;
}
.mainBox .heading h1{
  color: var(--text-clr);
  font-size: 26px;
  margin: 0 0 10px 0;
  font-weight: 450;
}
.mainBox .heading p{
  color: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
}
.mainBox .inputBox{
  position: relative;
}
.mainBox .inputBox span{
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
}
.mainBox .inputBox .star{
  color: rgba(255, 50, 0, 0.8);
}
.mainBox .inputBox input{
  width: 100%;
  height: 40px;
  color: #fff;
  background: var(--input-bg-clr);
  outline: none;
  border: none;
  border-radius: 2px;
  margin: 10px 0;
  padding: 10px 15px;
  font-size: 15px;
}
.mainBox .inputBox input[type="email"]{
  margin-bottom: 20px;
}
.mainBox .inputBox .forgetPass{
  position: relative;
  color: var(--link-clr);
  font-size: 15px;
}
.mainBox .inputBox button{
  position: relative;
  width: 100%;
  height: 40px;
  color: var(--text-clr);
  background: var(--btn-clr);
  font-weight: 500;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 2px;
  margin: 20px 0 10px 0;
}
.mainBox .inputBox p{
  color: rgba(255, 255, 255, 0.5);
}
.mainBox .inputBox p a{
  color: var(--link-clr);
}


/* Right Side*/
.rightSide{
  text-align: center;
}
.rightSide .imgBox{
  position: relative;
  width: 200px;
  height: auto;
  margin: 20px 0 25px 0;
}
.rightSide .qr{
  width: 95%;
  border-radius: 2px;
}
.rightSide .qr-2{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-120%, -50%);
  width: 60px;
}
.rightSide h1{
  color: var(--text-clr);
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}
.rightSide p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
}
.rightSide p span{
  font-weight: 500;
}



/* Mobile Version*/
@media only screen and (max-width: 768px){
  body{
    background: var(--bg-clr);
  }
  .container {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   min-height: 100vh;
 }
  .mainBox{
   display: block;
   padding: 0;
 }
  .mainBox .leftSide{
    padding: 0 20px 20px 20px;
  }
  .mainBox .mobile_heading{
    display: block;
    text-align: center;
  }
  .mainBox .mobile_heading img{
    width: 170px;
  }
  .mainBox .heading p{
    display: none;
  }
 .rightSide{
   display: none;
 }
}